/*-- scss:defaults --*/

// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&family=Nunito:wght@400;700&family=Roboto+Mono:wght@300;400&family=Sanchez&display=swap');

// Fonts (CSS rules)
$font-family-serif: 'Sanchez', serif;
$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

// Colors
$baby-blue: #d2e3f3;
$teal: #047C90;
$dark-blue: #003660;
$white: #FFFFFF;
$green: #78A540;
$magenta: #900C3F;
$orange: #EA8226;
$dark-orange: #A2520E;
$off-white: #F7F7F7;
$gray: #ADADAD;

// variables
$presentation-title-slide-text-align: "left";
$body-bg: $white;
$link-color: $green;
$code-color: $magenta;
$code-bg: $off-white;
$code-block-font-size: 0.4em;
$code-block-bg: $off-white;

/*-- scss:rules --*/

// bold styling
strong, b {
  font-weight: 900;
  color: $teal;
}

// table header font size
th {
font-size: 35px;
}

// table text font size
td {
  font-size: 20px;
}

// horizontal line (default dark blue)
hr {
  border: 4px solid $dark-blue;
  border-radius: 5px;
  margin-bottom: 30px;
}

// teal horizontal line
.hr-teal {
  border: 4px solid $teal;
}

// cover slide title
.custom-title {
  font-family: $font-family-serif;
  color: $baby-blue;
  font-size: 1.7em;
  left: 20px;
}

// cover slide subtitle (large)
.custom-subtitle {
  font-family: $font-family-sans-serif;
  color: $baby-blue;
  font-size: 1.2em;
  font-weight: 900;
  //position: absolute;
  left: 20px;
}

// cover slide subtitle (large, oragne)
/*.custom-subtitle-orange {
  font-family: $font-family-sans-serif;
  color: $dark-orange;
  font-size: 1.2em;
  font-weight: 900;
  left: 20px;
}*/

// cover slide subtitle (medium)
.custom-subtitle2 {
  font-family: $font-family-sans-serif;
  color: $baby-blue;
  font-size: 0.9em;
  left: 20px;
}

// cover slide subtitle (small)
.custom-subtitle3 {
  font-family: $font-family-sans-serif;
  color: $baby-blue;
  font-size: 0.8em;
  left: 20px;
}

// cover slide footer text
.title-footer {
  text-align: center !important;
  color: $baby-blue;
  font-size: 0.4em !important;
}

// slide title (large)
.slide-title {
  font-family: $font-family-serif;
  color: $teal;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

// slide title (large, for dark slides)
.slide-title-dark {
  font-family: $font-family-serif;
  color: $off-white;
  font-size: 1.4em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.slide-title2 { // OLD NAME: .slide-title-smaller
  font-family: $font-family-serif;
  color: $teal;
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.slide-title3 { // OLD NAME: .slide-title-smallest
  font-family: $font-family-serif;
  color: $teal;
  font-size: 1.1em;
  font-weight: 700;
}

// XL body text
.body-text-xl { // OLD NAME: .large-body-text
  font-family: $font-family-sans-serif;
  //color: $teal;
  font-size: 1em;
}

// L body text
.body-text-l { // OLD NAME: .medium-body-text
  font-family: $font-family-sans-serif;
  //color: $teal;
  font-size: 0.8em;
}

// normal body text
.body-text {
	font-size: 23px;
	line-height: 1.7em;
	margin-bottom: 1em;
}

// S body text
.body-text-s { // OLD NAME: .small-text
  font-size: 19px;
	line-height: 1.5em;
}

// XS body text
.body-text-xs { // OLD NAME: .smallest-text
  font-size: 14px;
	line-height: 1.5em;
}

// gray text
.gray-text {
  color: $gray;
}

// white text
.white-text {
  color: $off-white;
}

// teal text
.teal-text {
  color: $teal;
}

.important-text-bg {
  background-color: rgba(217, 178, 189, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 25px;
}

.quote-text-bg {
  background-color: rgba(218, 224, 224, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 15px;
}

// center text (horizontally)
.center-text{
  text-align: center;
}

// center text vertically (??)
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// center text vertically and horizontally
.page-center {
  line-height: 700px;
  text-align: center;
}

// extra space above line
 .topbr {
    display: inline-block;
    margin-top: 1em;
}

// extra space below line
 .bottombr {
    display: block;
    margin-bottom: 1em;
}

// idk?
.panel-tabset {
  font-size: 30px;
}
